* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  color: #4E4B66;
  line-height: 24px;
}

h1 {
  font-size: clamp(39px, 5vw, 61px);
  line-height: clamp(47px, 5vw, 73px);
  font-weight: 900;
}
@media (min-width: 768px) {
  h1 {
    max-width: 20ch;
    margin: auto;
  }
}
@media (min-width: 1280px) {
  h1 {
    margin: 0;
  }
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h1, h3 {
  color: #1A1A1A;
}

a {
  display: inline-block;
  text-decoration: none;
}

main {
  max-width: 1280px;
  margin: auto;
  padding: 60px 16px;
}

.site-header__img {
  width: 100%;
  height: clamp(17.5rem, 58.6vw, 31.875rem);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}

.card__content {
  background-color: #F7F7F7;
  border-radius: 20px;
  padding: 24px;
  grid-column: span 12;
  text-align: center;
}
.card__content img {
  width: 40px;
  height: 40px;
}
.card__content h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .card__content {
    grid-column: span 6;
    align-items: start;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .card__content {
    grid-column: span 3;
  }
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  max-width: 1280px;
  margin: auto;
}
@media (max-width: 1023px) {
  .site-header .top-navigation,
  .site-header .contact-button {
    display: none;
  }
}

.section__info {
  text-align: center;
  padding-bottom: 16px;
}
.section__info p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: clamp(16px, 2vw, 20px);
}
.section__info a {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .section__info p {
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1280px) {
  .section__info {
    text-align: left;
  }
  .section__info .info__content {
    display: flex;
  }
}

.section__services {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: clamp(16px, 1.2vw, 20px);
}

.top-navigation ul {
  list-style: none;
  display: flex;
  gap: 40px;
}
.top-navigation li a {
  color: #4E4B66;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.top-navigation li a:hover {
  color: #F15A24;
  border-bottom-color: #F15A24;
}

.btn-primary {
  background-color: #F15A24;
  color: #FFFFFF;
  line-height: 19px;
  font-weight: 700;
  padding: 16px 32px 16px 32px;
  transform: background-color 0.3s;
}
.btn-primary:hover {
  background-color: #4E4B66;
}

.burger {
  background-color: #F15A24;
  width: 56px;
  height: 56px;
  border-radius: 4px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  transform: background-color 0.3s;
}
.burger:hover {
  background-color: #4E4B66;
}
.burger__line {
  height: 3px;
  background-color: #FFFFFF;
  border-radius: 4px;
  flex: 0 0 3px;
}
@media (min-width: 1024px) {
  .burger {
    display: none;
  }
}

.contact-button {
  color: #F15A24;
  line-height: 19px;
  font-weight: 700;
  border: 1px solid #F15A24;
  padding: 16px 40px;
  border-radius: 24px;
  transition: all 0.3s;
}
.contact-button:hover {
  background-color: #F15A24;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */