$primary-color: #F15A24;
$secondary-color: #4E4B66;
$heading-color: #1A1A1A;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    font-size: 16px;
    color: $secondary-color;
    line-height: 24px;
}

h1 {
    font-size: clamp(39px, 5vw, 61px);
    line-height: clamp(47px, 5vw, 73px);
    font-weight: 900;
    
    @media (min-width: 768px) {
        max-width: 20ch;
        margin: auto;
    }

    @media (min-width: 1280px) {
        margin: 0;
    }
}

h3 {
    font-size: 20px;
    line-height: 24px;
}

h1, h3 {
    color: $heading-color;
}

a {
    display: inline-block;
    text-decoration: none;
}


main {
    max-width: 1280px;
    margin: auto;
    padding: 60px 16px;
}

.site-header__img {
    width: 100%;
    height: clamp(17.5rem, 58.6vw, 31.875rem);
    object-fit: cover;
    border-radius: 40px;
}
